<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MyServletExample</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletWebXMLExample</servlet-name>
    <servlet-class>com.myexamples.core.ServletWebXMLExample</servlet-class>
    <init-param>
      <param-name>InitParamName1</param-name>
      <param-value>Sunil Kumar Duvvuru</param-value>
    </init-param>
    <init-param>
      <param-name>InitParamName2</param-name>
      <param-value>Sunil D Kumar</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletWebXMLExample</servlet-name>
    <url-pattern>/ServletWebXMLExample01</url-pattern>
    <url-pattern>/ServletWebXMLExample02</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>JSPExample</servlet-name>
  	<jsp-file>/JSPExample.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JSPExample</servlet-name>
  	<url-pattern>/JSPExample</url-pattern>
  	<url-pattern>/JSPPOSTExample</url-pattern>
  </servlet-mapping>
  
</web-app>